#### **Homework 1: Introduction to Machine Learning for Machine Learning Zoomcamp 2025**

#### **Libraries**

In [73]:
import pandas as pd
import numpy as np

##### **Pandas version**

In [38]:
pd.__version__

'2.3.2'

##### **Records count**

- Import Dataset

In [39]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(url)

print(df.head())
print(df.shape)

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369
(9704, 11)

- How many records are in the dataset?

In [40]:
print("Records count:", len(df))

Records count: 9704

##### **Fuel types**
- How many fuel types are presented in the dataset?

In [41]:
# Names of the Variables
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [42]:
#Number of Fuel Types
print(df['fuel_type'].nunique())
# Types of Fuels
print(df['fuel_type'].unique())  # Confirmation

2
['Gasoline' 'Diesel']

##### **Missing values**
- How many columns in the dataset have missing values?

In [43]:
print((df.isnull().sum()!=0).sum())

4

In [44]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

##### **Max fuel efficiency**
- What's the maximum fuel efficiency of cars from Asia?

In [45]:
Asia_Max_fuel_eff=df[df["origin"]=="Asia"]["fuel_efficiency_mpg"].max()
print(Asia_Max_fuel_eff)

23.759122836520497

##### **Median value of horsepower**

  - Median value of horsepower column in the dataset.

In [46]:
median_hp=df["horsepower"].median()
print(median_hp)

149.0

- most frequent value of the same horsepower column.

In [35]:
mode_hp=df["horsepower"].mode()[0]
print(mode_hp)

152.0

- Filling the missing values in horsepower column using Fillna method with the most frequent value from the previous step.

In [52]:
# missing values in horsepower column 
print(df["horsepower"].isnull().sum())

708

In [53]:
df["horsepower"]=df["horsepower"].fillna(mode_hp)

In [54]:
# missing values in horsepower column after Fillna
print(df["horsepower"].isnull().sum())

0

- *median value of horsepower*

In [55]:
median_hp=df["horsepower"].median()
print(median_hp)

152.0

##### **Sum of weights**

- Getting a NumPy array, X.

In [63]:
# Select all the cars from Asia
Veh_Asia=df[df["origin"]=="Asia"]
# Select only columns vehicle_weight and model_year
Veh_Asia_VC_My=df[df["origin"]=="Asia"][["vehicle_weight","model_year"]]
# Select the first 7 values
Veh_Asia_VC_My_7=Veh_Asia_VC_My.head(7)
# Get the underlying NumPy array. Let's call it X.
X=Veh_Asia_VC_My_7.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

-  Transpose, use X.T. Let's call the result XTX

In [70]:
X_t=X.T

- Compute matrix-matrix multiplication between the transpose of X and X.

In [71]:
XTX = X_t @ X
print("XTX:\n", XTX)

XTX:
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

- Invert XTX

In [74]:
XTX_inv = np.linalg.inv(XTX)

print("Inverse of XTX:\n", XTX_inv)

Inverse of XTX:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [ ]:
y=[1100, 1300, 800, 900, 1000, 1100, 1200]

- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

In [77]:
w = XTX_inv @ X.T @ y
print(w)

[0.01386421 0.5049067 ]

- What's the sum of all the elements of the result?

In [78]:
w_sum = w.sum()
print("Sum of elements in w:", w_sum)

Sum of elements in w: 0.5187709081074016